/* body{
    background-image: url(img2.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:center;
    box-sizing: border-box;
    font-family: sans-serif;
} */